.DS_Store
__pycache__
__pycache__/
.venv/
.env

# Image and media files
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.mp4
*.PNG
*.JPG
*.JPEG
*.WEBP
*.GIF
*.MP4

# Ignore showcase
!showcase.png

# Image folders
examples/

# Python scripts
create_showcase.py


